<%- include('header') %>

<section class="text-gray-400 bg-gray-900 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">
        Teacher
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        Upload a New Question!
      </p>
    </div>

    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">
        

        <form action="/teacher" method="post" class="p-2 w-full">

          <div class="p-2 w-full">
            <div class="relative">
              <label for="question" class="leading-7 text-md text-gray-400">Question</label>
              <textarea id="question" name="question"
                class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 h-32 text-base outline-none text-gray-100 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
            </div>
          </div>

          <div class="p-2 w-full">
            <div class="relative">
              <label for="solution" class="leading-7 text-md text-gray-400">Optimized Solution</label>
              <textarea id="solution" name="solution"
                class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 h-32 text-base outline-none text-gray-100 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
            </div>
          </div>

          <div class="p-2 w-full">
            <div class="relative">
              <label for="testCase" class="leading-7 text-md text-gray-400">Test Case</label>
              <textarea id="testCase" name="testCase"
                class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 h-32 text-base outline-none text-gray-100 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
            </div>
          </div>

          <div class="p-2 w-full">
            <div class="relative">
              <label for="hiddenTestCase" class="leading-7 text-md text-gray-400">Hidden Test Case</label>
              <textarea id="hiddenTestCase" name="hiddenTestCase"
                class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 h-32 text-base outline-none text-gray-100 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
            </div>
          </div>

          <div class="p-2 w-full">
            <button type="submit"
              class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
              Compile and Upload
            </button>
          </div>

        </form>

      </div>
    </div>
  </div>
</section>

<%- include('footer') %>