<%- include('header') %>

<div class="text-center mt-5">
  <a type="button" class="btn btn-secondary btn-lg mr-4" href="/teacher">Teacher</a>
  <a type="button" class="btn btn-primary btn-lg mr-4" href="/student">Student</a>
</div>

<%- include('footer') %>